<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Password Baru Akun Anda</title>
  <meta name="description" content="Password Baru Akun Anda">
  <style type="text/css">
    a:hover {text-decoration: underline !important;}
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
  <!--100% body table-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
  style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
  <tr>
    <td>
      <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
      align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td style="height:80px;">&nbsp;</td>
      </tr>
      <tr>
        <td style="height:20px;">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
          style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
          <tr>
            <td style="height:40px;">&nbsp;</td>
          </tr>
          <tr>
            <td style="padding:0 35px;">
              <h5 style="color:#1e1e2d; font-weight:500; margin:0;font-size:16px;font-family:'Rubik',sans-serif;">Password Baru Akun Anda</h5>
              <h3 style="font-size: 25px;"><%= newpassword %></h3>
          </td>
        </tr>
        <tr>
          <td style="height:40px;">&nbsp;</td>
        </tr>
      </table>
    </td>
    <tr>
      <td style="height:20px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align:center;">
        <p style="font-size:14px; color:#000; line-height:18px; margin:0 0 0;"><strong>bkol.depok.go.id</strong></p>
      </td>
    </tr>
    <tr>
      <td style="height:80px;">&nbsp;</td>
    </tr>
  </table>
</td>
</tr>
</table>
<!--/100% body table-->
</body>

</html>